*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: dimgray;
}
.container{
    width: 900px;
    margin: auto;
}
.box{
    max-width: 600px;
    padding: 20px;
    background-color: azure;
    margin: auto;
    margin-top: 10px;
    box-shadow: 4px 3px 5px chocolate;
    border-radius: 3px;
}
.box h1{
    text-align: center;
}
.form{
    margin: 20px;
    display: grid;
    grid-template-columns:repeat(autofit, minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
input,select,textarea{
    padding: 6px;
    border: 1px solid blue;
    font-size: 15px;
    border-radius: 5px;
}
.label{
    font-size: 15px;
    margin-top: 5px;
}

input:focus{
    outline-color: red;
}
.button{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: black;
    border: 5px;
    padding: 10px 5px;
    border-radius: 7px;
    color: aliceblue;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: navy;
    transition: 0.3s ease-out;
    cursor: pointer;
    
}